<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <p class="siteName">
            <%= siteName %>
        </p>
    </header>
    <div class="addSection">
        <a href="/addBlog.ejs" class="addButton">Add new blog</a>
    </div>
    <div class="content">
        <% blogs.forEach(item => {%>
            <div class="blog">
                <div class="name">Published by: 
                    <%= item.nameOfPublisher %>
                    <% console.log(item.name) %>
                </div>
                <div class="datetime">Published on & at:
                    <%= item.dateOfPublishing %>
                </div>
                <div class="blogMainContent">
                    <%= item.mainBlogOfPublisher %>
                </div>
            </div>
        <% }); %>
    </div>

<script>
    
</script>

    <!-- <script>
        async function getBlogs() {
            let url="https://blog-app-abn1.onrender.com/getData"

// for local testing
            // let url ="http://localhost:3000/getData"   

            let api=await fetch(url)
            let data=await api.json();
            console.log(data)
            // let realData= await data[0];
            // console.log(data.length)
            
            for (let i = 0; i < data.length; i++) {
                let blog=document.createElement("div")
                blog.classList.add("blog")
                let content=document.body.querySelector(".content")
                content.append(blog)
                let nameOFPublisher=document.createElement("div")
                blog.appendChild(nameOFPublisher)
                nameOFPublisher.classList.add("name")
                let dateTimeofPublishing=document.createElement("div")
                blog.appendChild(dateTimeofPublishing)
                dateTimeofPublishing.classList.add("datetime")
                let publishedBlog=document.createElement("div")
                blog.appendChild(publishedBlog)
                publishedBlog.classList.add("blogMainContent")
                nameOFPublisher.innerHTML=`By:  ${data[i].name}`
                dateTimeofPublishing.innerHTML=`Date&Time: ${data[i].dateTime}`
                publishedBlog.innerHTML=`${data[i].blogContent}` 
            }
        }
        getBlogs()
    </script> -->
</body>

</html>